# Node modules
node_modules/
**/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
jspm_packages/

# TypeScript v1.x command line compiler temporary targets
tsconfig.schemastore.json

# Serverless Webpack directories
.webpack/

# Optional npm cache directory
.npm

# eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output directory from TypeScript compiler
dist/
dist-ssr/
out/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
